{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %} 
                Covid Project
            {% endblock %}
        </title>

        {% block styles %}
            <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="screen" />
        {% endblock %}

        {% block scripts %}
            <script src="{% static 'js/script.js' %}"></script>
        {% endblock %}
    </head>
    <body>
    {% block body %}
    {% endblock %}
    </body>
</html>
